<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рестораны города</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Рестораны города Пермь</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Главная</a></li>
            <li><a href="{{ url_for('list_restaurants') }}">Список ресторанов</a></li>
            <li><a href="{{ url_for('search_restaurants') }}">Поиск ресторанов</a></li>
        </ul>
    </nav>
    <main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flash-messages">
                    {% for message in messages %}
                        <li class="flash-message {{ message[1] }}">{{ message[0] }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>
